importing Libraries

In [84]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import sklearn
# from sklearn import MinMaxScaler,StandardScaler
import datetime 
import chardet
import fuzzywuzzy

In [26]:
with open(r"C:\Users\ravee\Downloads\Datsets\salesworkload.xlsx",'rb') as file:
    file_name = file.read(10000)
    print("All done")
    print(chardet.detect(file_name))

All done
{'encoding': None, 'confidence': 0.0, 'language': None}

    Check the type of encoding

Open file with proper encoder and create dataframe

In [32]:
df = pd.read_excel(r"C:\Users\ravee\Downloads\Datsets\salesworkload.xlsx",header=1)
df.columns

Index(['MonthYear', 'Time index', 'Country', 'StoreID', 'City', 'Dept_ID',
       'Dept. Name', 'HoursOwn', 'HoursLease', 'Sales units', 'Turnover',
       'Customer', 'Area (m2)', 'Opening hours'],
      dtype='object')

1.Check the dataframe shape and properties
2.Create copy of dataframe

In [35]:
df.describe

# sales = df.copy()

<bound method NDFrame.describe of      MonthYear  Time index         Country  StoreID        City  Dept_ID  \
0      10.2016         1.0  United Kingdom  88253.0  London (I)      1.0
1      10.2016         1.0  United Kingdom  88253.0  London (I)      2.0
2      10.2016         1.0  United Kingdom  88253.0  London (I)      3.0
3      10.2016         1.0  United Kingdom  88253.0  London (I)      4.0
4      10.2016         1.0  United Kingdom  88253.0  London (I)      5.0
...        ...         ...             ...      ...         ...      ...
7653   06.2017         9.0          Sweden  29650.0  Gothenburg     12.0
7654   06.2017         9.0          Sweden  29650.0  Gothenburg     16.0
7655   06.2017         9.0          Sweden  29650.0  Gothenburg     11.0
7656   06.2017         9.0          Sweden  29650.0  Gothenburg     17.0
7657   06.2017         9.0          Sweden  29650.0  Gothenburg     18.0

               Dept. Name  HoursOwn  HoursLease  Sales units    Turnover  \
0                     Dry  3184.764         0.0     398560.0   1226244.0
1                  Frozen  1582.941         0.0      82725.0    387810.0
2                   other    47.205         0.0     438400.0    654657.0
3                    Fish  1623.852         0.0     309425.0    499434.0
4     Fruits & Vegetables  1759.173         0.0     165515.0    329397.0
...                   ...       ...         ...          ...         ...
7653             Checkout  6322.323         0.0    3886530.0  14538825.0
7654    Customer Services  4270.479         0.0        245.0         0.0
7655             Delivery         0         0.0          0.0         0.0
7656               others  2224.929         0.0        245.0         0.0
7657                  all   39652.2         0.0    3886530.0  15056214.0

      Customer Area (m2) Opening hours
0          NaN    953.04        Type A
1          NaN    720.48        Type A
2          NaN    966.72        Type A
3          NaN   1053.36        Type A
4          NaN   1053.36        Type A
...        ...       ...           ...
7653       NaN       #NV        Type A
7654       NaN       #NV        Type A
7655       NaN       #NV        Type A
7656       NaN       #NV        Type A
7657       NaN       #NV        Type A

[7658 rows x 14 columns]>

Checking and handling missing datas

In [50]:
sales.isnull().sum()

# sales=sales.drop("Customer",axis=1)
# sales.sample(10)
# null_rows = sales[sales.isnull().any(axis=1)]
# print(null_rows)
sales = sales.dropna()

MonthYear        0
Time index       0
Country          0
StoreID          0
City             0
Dept_ID          0
Dept. Name       0
HoursOwn         0
HoursLease       0
Sales units      0
Turnover         0
Area (m2)        0
Opening hours    0
dtype: int64

Check for duplicates and handle them

In [52]:
sales.duplicated().sum()

0

Parse date to required format and add 2 columns for month and year

In [90]:
# sales["MonthYear"] = pd.to_datetime(sales["MonthYear"],format = '%m.%Y')
# sales.MonthYear
sales["Month"]=sales["MonthYear"].dt.strftime("%B")
# sales["Year"]=sales["MonthYear"].dt.year
sales.Month

0       October
1       October
2       October
3       October
4       October
         ...
7653       June
7654       June
7655       June
7656       June
7657       June
Name: Month, Length: 7650, dtype: object